.heading {
    color: #2ADACC;
    font-family: 'poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
}

.subHeading {
    position: absolute;
    top: 150px;
    display: flex;
    color: #fff;
    font-family: 'inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 3rem;

}

.description {
    position: absolute;
    top: 300px;
    color: #D9F7F5;
    font-family: 'inter', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.joinBtn {
    position: absolute;
    top: 530px;
    font-family: 'nunito', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #2ADACC;
}

.pageBack {
    background: #003358;
    position: relative;

}
