.heading {
    color: #2ADACC;
    font-family: 'poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;

}

.subHeading {
    position: absolute;
    top: 150px;
    display: flex;
    color: #fff;
    font-family: 'inter', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 3rem;

}

.description {
    position: absolute;
    top: 300px;
    color: #D9F7F5;
    font-family: 'inter', sans-serif;
    font-size: 26px;
    font-weight: 300;
}

.joinBtn {
    position: absolute;
    top: 530px;
    font-family: 'nunito', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #2ADACC;
}

.pageBack {
    background: #003358;
    position: relative;

}

/*Marine DAO Ship*/

.marineDaoShip {
    background: #043580;
    height: 100%;
}

.marineDaoShip:after {
    content: '';
    box-shadow: 20px 378px 218px -34px #0085ff;
    height: 200px;
    position: absolute;
    width: 358px;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.heading1 {
    color: #32FFEF;
    font-family: 'poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    text-shadow: 2px 8px 20px rgba(0, 0, 0, 0.48);

}

.overlay {


}

.overlay:after {
    content: '';
    box-shadow: 20px -463px 218px -34px #0085ff;
    height: 200px;
    position: absolute;
    width: 358px;
    bottom: 0;
    right: 300px;
    border-radius: 50%;
}

.desc {
    display: flex;
    justify-content: flex-end;
    color: #D9F7F5;
    font-family: 'inter', sans-serif;
    font-size: 28px;
    font-weight: 200;
}

/*RoadMapFirst*/
.roadmapBg {
    background-color: #043580;
    width: 100%;
}

.roadmapOverlay:after {
    content: '';
    box-shadow: 48rem -2rem 218px -34px #0085ff;
    height: 650px;
    position: absolute;
    opacity: 0.5;
    width: 458px;
    left: 20px;

    border-radius: 50%;
}

.phases {
    color: #D9F7F5;
    font-size: 26px;
    padding: 6px 0;
    font-family: 'inter', sans-serif;
    font-weight: 600;
}

.desc {
    color: #D9F7F5;
    font-size: 16px;
    font-family: 'inter', sans-serif;
    font-weight: 200;
    line-height: 1.4rem;

}

.bigRelease {
    color: #2ADACC;
    font-size: 2rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'poppins', sans-serif;

}
@media (max-width: 768px){

    .heading1 {
        color: #32FFEF;
        font-family: 'poppins', sans-serif;
        font-size: 40px !important;
        font-weight: 800;
        text-shadow: 2px 8px 20px rgba(0, 0, 0, 0.48);

    }

}
